
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    height: 100%;
    background-color: #1D370A;
    font-family: 'Montserrat', sans-serif;
}

/*background-color: #679bf9;*/
nav.nav-topo{
    background-color: #f0f2f5;
}

img.logo-cluster{
    height: 50px;
    width: auto;
}

div.messages-login{
    max-width: 350px;
    margin: 0px auto 0px auto;
}

div.main-login{
    background-color: #FFFFFF;
    max-width: 350px;
    margin: 5% auto auto auto;
    padding: 0px 20px 40px 20px;
    border-radius: 10px;
    border: solid 1px #8DD20E;
}

div.logo-login{
    text-align: center;
}

img.img-login{
    max-width: 200px;
    margin: 15% 10%;
}

input.form-control{
    border-radius: 10px;
    margin-bottom: -5px;
    font-size: 18px;
}

small.texto-link-senha{
    margin-top: -10px;
    margin-bottom: 30px;

}

button.btn-login{
    width: 100%;
    background-color: #8DD20E;
    color: #1D370A;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

button.btn-login:hover{
    background-color: #1D370D;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #1D370D;
    border-color: #1D370D;
    box-shadow: 0 0 0 0.2rem rgba(29, 55, 13, 0.5);
  }

  
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #1D370D;;
  border-color: #1D370D;;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 55, 13, 0.5);
}
  
h5.texto-rodape{
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    color: #000000;
}

.footer {
    position: fixed;
    bottom:0;
    text-align: center;
    width: 100%;
}