@font-face {
    font-family: RBN-Extralight;
    src: url(../fonts/RBNo3-1-ExtraLight.otf);
}

body {
    font-family: RBN-Extralight;
    height: 100%;
    background-color: #679bf9;
}

nav.nav-topo{
    background-color: #679bf9;
}

img.logo-cluster{
    height: 50px;
    width: auto;
}

div.main-login{
    background-color: #FFFFFF;
    max-width: 350px;
    margin: 5% auto auto auto;
    padding: 0px 20px 40px 20px;
    border-radius: 10px;
    border: solid 1px #224390;
}

div.logo-login{
    text-align: center;

}

img.img-login{
    max-width: 200px;
    margin: 15% 10%;
}

input.form-control{
    border-radius: 10px;
    margin-bottom: -5px;
    font-size: 16px;
}

small.texto-link-senha{
    margin-top: -10px;
    margin-bottom: 30px;
}

button.btn-login{
    width: 100%;
    background-color: #224390;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

button.btn-login:hover{
    background-color: #4d67a3;
}

h5.texto-rodape{
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
    color: #FFFFFF;
}