@font-face {
    font-family: RBN-Extralight;
    src: url(../fonts/RBNo3-1-ExtraLight.otf);
}

@font-face {
    font-family: RBN-Medium;
    src: url(../fonts/RBNo3-1-Medium.otf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}


#wrapper #content-wrapper #content{
    background-color: #fbf8f8;
}

#accordionSidebar{
    background-color: #FFFFFF;
}
.sidebar-dark #sidebarToggle{
    background-color: #707070;
    margin-top: 30px;
}
.sidebar-dark #sidebarToggle:hover{
    background-color: #224390;
}
#editar-perfil-lat{
    color: #9ba9cb;
    font-size: 12px;
    text-decoration: none;
    font-family: Montserrat-Medium;
}
#editar-perfil-lat:hover{
    color: #224390;
}
#sair-lat{
    color: #9ba9cb;
    font-size: 12px;
    text-decoration: none;
    font-family: Montserrat-Medium;
}
#sair-lat:hover{
    color: #224390;
}

div.usuario-logado{
    text-align: center;
    margin: 30px 0px;
}
img.img-usuario-logado{
    width: 75px;
    height: auto;
    border-radius: 50%;
}
img.img-usuario-logado-mobile{
    width: 40px;
    height: auto;
    border-radius: 50%;
}
h5.nome-usuario-logado{
    font-size: 18px;
    margin-top: 20px;
    color: #707070;
    font-family: Montserrat-Medium;
}
p.empresa-usuario-logado{
    margin-top: -8px;
    font-size: 12px;
    font-family: Montserrat-Light;
    color: #707070;
}


/* HOME LATERAL */
#link-home-lat{
    color:#707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-home-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-home{
    color: #707070;
}

a.links_alerta {
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Light;
}
/* ANALISE LATERAL */
#link-anali-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-anali-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-anali{
    color: #707070;
}


/* ALERTAS LATERAL */

#link-alert-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-alert-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-alert{
    color: #707070;
}
#contador-alerta{
    background-color: red;
    color: white;
    padding: 2px 6px;
    border-radius: 10px;
    font-size: 10px;
    margin-left: 15px;
    font-family: Montserrat-Medium;
}

/* FORNEC LATERAL */

#link-fornec-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-fornec-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-fornec{
    color: #707070;
}


/* PEDIDOS LATERAL */
#link-pedi-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-pedi-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-pedi{
    color: #707070;
}


/* USUARIOS LATERAL */
#link-user-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-user-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-user{
    color: #707070;
}


/* REPOSICAO LATERAL */
#link-repo-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-repo-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-repo{
    color: #707070;
}


/* ACADEMY LATERAL */
#link-acad-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-acad-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-acad{
    color: #707070;
}


/* CONFIG LATERAL */
#link-conf-lat{
    color: #707070;
    padding: 8px 10px;
    font-family: Montserrat-Medium;
}
#link-conf-lat:hover{
    background-color: #f2f7ff;
    border-left: solid 3px #224390;
    color: #224390;
}
#icone-conf{
    color: #707070;
}

