
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

nav.nav-topo{
    background-color: #f0f2f5;
}

img.logo-cluster{
    height: 50px;
    width: auto;
}

div.main-recuperar{
    background-color: #ffffff;
    max-width: 350px;
    margin-top: 5%;
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    border: solid 1px #1D370D;
    margin: 0 auto;
    margin-top: 25px;
}

input.form-control{
    border-radius: 10px;
    margin-bottom: -5px;
    font-size: 16px;
}

.btn-continuar{
    width: 100%;
    background-color: #1D370D;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 30px;
}

.btn-continuar:hover{
    background-color: #1D370D;
}

button.btn-continuar-r{
    width: 100%;
    background-color: #1D370D;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 10px;
}

button.btn-continuar-r:hover{
    background-color: #1D370D;
}

small.texto-link-cancelar{
    margin-top: 10px;
    text-align: center;
}

h5.texto-rodape{
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    color: #000000;
}

h4.texto-recuperar{
    margin-bottom: 20px;

    color: #828282;
}
p.texto-rec-senha{

    font-size: 14px;
}

span.helptext{
    margin-top: 20px;
    padding-top: 50px;
    font-size: 12px;
}

#id_new_password1{
    border-radius: 10px;
    border: 1px solid #ced4da;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%;
    height: calc(1.5rem + 1rem + 2px);
    padding: .5rem 1rem;
}
#id_new_password2{
    border-radius: 10px;
    border: 1px solid #ced4da;
    margin-bottom: -5px;
    font-size: 16px;
    width: 100%;
    height: calc(1.5rem + 1rem + 2px);
    padding: .5rem 1rem;

}

.footer {
    position: fixed;
    bottom:0;
    text-align: center;
    width: 100%;
}