{% extends 'aplicacao/base.html' %}

{% block conteudo %}
<div class="row">

    <div class="col" style="text-align: center">
        <img src="https://source.unsplash.com/random/150x150">
        <p>titulo</p>
    </div>
    <div class="col">
        <img src="https://source.unsplash.com/random/150x150">
        <p>titulo</p>
    </div>
    <div class="col">
        <img src="https://source.unsplash.com/random/150x150">
        <p>titulo</p>
    </div>
    <div class="col">
        <img src="https://source.unsplash.com/random/150x150">
        <p>titulo</p>
    </div>
    <div class="col">
        <img src="https://source.unsplash.com/random/150x150">
        <p>titulo</p>
    </div>

</div>
{% endblock conteudo %}