{% extends 'aplicacao/base.html' %}

{% block title %}
    <title>Configurações - Insight</title>
{% endblock title %}


{% block conteudo %}

    <h2>E-mail</h2>
    <hr>

    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-4">

                <div class="form-group col-md-12">
                    <label for="email">Email</label>
                    {{ form.email }}
                    <div class="invalid-feedback">
                        {{ form.email.errors }}
                    </div>
                </div>

                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
            <div class="col-8">
                <!--
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque distinctio dolorum, eos eum ex
                    explicabo libero mollitia, necessitatibus neque praesentium quisquam quo quos ratione ullam unde
                    veniam
                    voluptate voluptates!
                </p>
                -->
            </div>
        </div>
    </form>

{% endblock %}