{% extends 'aplicacao/base.html' %}

{% block title %}
    <title>Configurações - Ponto de Pedido</title>
{% endblock title %}


{% block conteudo %}

    <h2>Editar Fornecedor - {{ fornecedor.desc_fornecedor }}</h2>
    <hr>

    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-4">
                <div class="form-group col-md-12">
                    <label for="leadtime">Leadtime</label>
                    {{ form.leadtime }}
                    <div class="invalid-feedback">
                        {{ form.leadtime.errors }}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="ciclo_reposicao">Ciclo de Reposição</label>
                    {{ form.ciclo_reposicao }}
                    <div class="invalid-feedback">
                        {{ form.ciclo_reposicao.errors }}
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="tempo_estoque">Tempo de Estoque</label>
                    {{ form.tempo_estoque }}
                    <div class="invalid-feedback">
                        {{ form.tempo_estoque.errors }}
                    </div>


                    <button id="botao-salvar-config" type="submit" class="btn btn-success btn-sm">
                        Salvar
                    </button>

                    <a href="{% url 'fornecedores_painel' %}"
                       class="botao-cancelar-config btn btn-danger btn-sm" role="button" aria-pressed="true">
                        Cancelar
                    </a>

                </div>
            </div>
            <div class="col-8">
                <!--
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi atque distinctio dolorum, eos eum ex
                    explicabo libero mollitia, necessitatibus neque praesentium quisquam quo quos ratione ullam unde
                    veniam
                    voluptate voluptates!
                </p>
                -->
            </div>
        </div>
    </form>

{% endblock %}