<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'admin/parciais/_head.html' %}
</head>

<body id="page-top">

<div id="wrapper">

    <!-- LATERAL -->
    {% include 'admin/parciais/_lateral.html' %}

    <div id="content-wrapper" class="d-flex flex-column">

        <div id="content">

            <!-- TOPO -->
            {% include 'admin/parciais/_topo.html' %}


            <div class="container-fluid">
                <!-- MENSAGENS -->
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                <!--  CONTEÚDO  -->
                {% block conteudo %}
                {% endblock conteudo %}
            </div>
    <!-- RODAPE -->
        {% include 'admin/parciais/_footer.html' %}
        </div>



    </div>

</div>

<!-- Scroll to Top Botão-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>