{% extends 'aplicacao/base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% load to_str %}


{% block title %}
    <title>Alertas - Insight</title>
{% endblock title %}

{% block conteudo %}
    <div class="row">
        <div class="col-6">
            <h2>Alertas</h2>
        </div>
        <div class="col-6 float-right" style="text-align: right; padding-top: 10px">
            {% if request.user.usuario.empresa.atualizacao_alerta %}
                <h6>Atualizado em: {{ request.user.usuario.empresa.atualizacao_alerta }}</h6>
            {% else %}
                <h6></h6>
            {% endif %}

        </div>
    </div>

    <hr>
    <div class="card shadow mb-4">
        <!--
        <div class="card-header py-3">
            <div class="row">

                <div class="col-6 float-left">

                    <a id="btn-print-excesso" href="{% url 'pdf_excesso' %}" type="button" target="_blank"
                       class="btn btn-primary btn-sm">
                        Imprimir
                    </a>

                </div>

                <div class="col-6">
                    <div class="row float-right">

                        <div class="col" style="flex-grow: 0">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        id="dropdownMenuCurva">
                                    Curva
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuCurva">
                                    <a class="dropdown-item" href="{% url 'alerta_excesso_curva' "todos" %}">Todas as
                                        curvas</a>
                                    <a class="dropdown-item" href="{% url 'alerta_excesso_curva' "A" %}">Curva A</a>
                                    <a class="dropdown-item" href="{% url 'alerta_excesso_curva' "B" %}">Curva B</a>
                                    <a class="dropdown-item" href="{% url 'alerta_excesso_curva' "C" %}">Curva C</a>
                                    <a class="dropdown-item" href="{% url 'alerta_excesso_curva' "D" %}">Curva D</a>
                                    <a class="dropdown-item" href="{% url 'alerta_excesso_curva' "E" %}">Curva E</a>
                                </div>
                            </div>
                        </div>

                        <div class="col" style="flex-grow: 0">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        id="dropdownMenuFilial">
                                    Filial
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuFilial">
                                    <a class="dropdown-item" href="{% url 'alerta_excesso_filial' 0 %}">Todas as
                                        filiais</a>

                                    {% for filial in filiais %}
                                        <a class="dropdown-item"
                                           href="{% url 'alerta_excesso_filial' filial.cod_filial %}">{{ filial.desc_filial }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        -->

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Filial</th>
                        <th>Produto</th>
                        <th>Condição</th>
                        <th>Ult. Entrada</th>
                        <th>Estoque</th>
                        <th>Pendentes</th>
                        <th>Quant.</th>
                        <th>Valor</th>
                        <th>Curva</th>
                        <th>DDE</th>
                        <th>Média</th>
                        {% if p_ativo == True %}
                            <th>Princípio</th>
                        {% endif %}

                        <th>Fornecedor.</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if produtos %}
                        {% for produto in produtos %}

                            <tr class="excesso">
                                <td class="status">{{ produto.cod_filial }}</td>
                                <td>{{ produto.cod_produto|to_str }} - {{ produto.desc_produto }}</td>
                                <td class="status excesso">{{ produto.estado_estoque }}</td>
                                <td class="status">{{ produto.campo_quatro }}</td>
                                <td class="numero">{{ produto.estoque|floatformat:0 }}</td>
                                <td class="numero">{{ produto.saldo|floatformat:0 }}</td>
                                <td class="numero">{{ produto.qt_excesso|floatformat:0 }}</td>
                                <td class="numero">R$ {{ produto.vl_excesso|floatformat:2 }}</td>
                                <td class="curva">{{ produto.curva }}</td>
                                <td class="numero">{{ produto.campo_um|floatformat:0 }}</td>
                                <td class="numero">{{ produto.campo_dois|floatformat:1 }}</td>
                                {% if p_ativo == True %}
                                    <td class="numero">{{ produto.campo_tres }}</td>
                                {% endif %}
                                <td>{{ produto.cod_fornecedor|to_str }} - {{ produto.fornecedor }}</td>

                            </tr>

                        {% endfor %}
                    {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}
