{% extends 'aplicacao/base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% load to_str %}


{% block title %}
    <title>Alertas - Ponto de Pedido</title>
{% endblock title %}


{% block conteudo %}
    <div class="row">
        <div class="col-6">
            <h2>Alertas</h2>
        </div>
        <div class="col-6 float-right" style="text-align: right; padding-top: 10px">
            {% if request.user.usuario.empresa.atualizacao_alerta %}
                <h6>Atualizado em: {{ request.user.usuario.empresa.atualizacao_alerta }}</h6>
            {% else %}
                <h6></h6>
            {% endif %}

        </div>
    </div>

    <hr>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">

                <div class="col-6 float-left">

                    <h5>Excesso por Fornecedor</h5>

                </div>

                <div class="col-6 float-right" style="text-align: right">
                    <h5>Valor total de excessos: R$ {{ valor_total_excesso|floatformat:2 }}</h5>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Filial</th>
                        <th>Fornecedor</th>
                        <th>Quantidade.</th>
                        <th>Valor</th>

                        <th>Ações</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% if fornecedores %}
                        {% for fornecedor in fornecedores %}

                            <tr class="excesso">
                                <td class="status">{{ fornecedor.cod_filial }}</td>
                                <td>{{ fornecedor.cod_fornecedor|to_str }} - {{ fornecedor.fornecedor }}</td>
                                <td class="numero">{{ fornecedor.contagem|floatformat:0 }}</td>
                                <td class="numero">R$ {{ fornecedor.vl_excesso|floatformat:2 }}</td>

                                <td>
                                    <a href="{% url 'ver_excesso_fornecedor' fornecedor.cod_fornecedor fornecedor.cod_filial %}"
                                       class="botao-ver-pinsight btn btn-secondary btn-sm" title="Visualizar" role="button" aria-pressed="true">
                                        Visualizar
                                    </a>
                                </td>

                            </tr>

                        {% endfor %}
                    {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}
