{% extends 'aplicacao/base.html' %}
{% load static %}
{% load humanize %}
{% load l10n %}
{% load to_str %}


{% block title %}
    <title>Alertas - Insight</title>
{% endblock title %}


{% block scripts %}

    <script src="{% static 'aplicacao/js/fornecedor/pedido_sessao_excesso.js' %}" defer></script>
    <script src="{% static 'aplicacao/js/fornecedor/pesquisar_pedido_fornecedor_excesso.js' %}" defer></script>
    <script src="{% static 'aplicacao/js/fornecedor/graficos_excesso.js' %}" defer></script>
    <script src="{% static 'aplicacao/js/mascara_preco.js' %}" defer></script>

    <script>
        $(document).ready(function () {
            // show the alert
            setTimeout(function () {
                $(".alert").alert('close');
            }, 5000);
        });
    </script>

{% endblock scripts %}


{% block conteudo %}

    <div class="div-mensagem-sucesso" id="div-mensagem-sucesso_excesso_fornec">
    </div>

    <div class="div-mensagem-alerta" id="div-mensagem-alerta_excesso_fornec">
    </div>


    <div class="row">
        <div class="col-6">
            <h2>{{ fornecedor.desc_fornecedor }}</h2>
        </div>
        <div class="col-6 float-right" style="text-align: right; padding-top: 10px">
            {% if request.user.usuario.empresa.atualizacao_alerta %}
                <h6>Atualizado em: {{ request.user.usuario.empresa.atualizacao_alerta }}</h6>
            {% else %}
                <h6></h6>
            {% endif %}

        </div>
    </div>

    <hr>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">

                <div class="col-6 float-left">

                    <h5>Excesso por Fornecedor</h5>

                </div>

                <div class="col-6" align="right">
                    <button id="ver_pedido_excesso_fornec" class="btn btn-secondary btn-sm ver-pedido" type="button"
                            data-toggle="modal" data-target=".modal_pedido_excesso_fornec">Ver pedido
                    </button>
                </div>

            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Filial</th>
                        <th>Produto</th>
                        <th>Condição</th>
                        <th>Ult. Entrada</th>
                        <th>Estoque</th>
                        <th>Pendentes</th>
                        <th>Quant.</th>
                        <th>Valor</th>
                        <th>Curva</th>
                        <th>DDE</th>
                        <th>Média</th>

                        {% if p_ativo == True %}
                            <th>Princípio</th>
                        {% endif %}

                        <th>Açôes.</th>

                    </tr>
                    </thead>

                    <tbody>
                    {% if produtos %}
                        {% for produto in produtos %}

                            <tr class="excesso">
                                <td class="status">{{ produto.cod_filial }}</td>
                                <td>{{ produto.cod_produto|to_str }} - {{ produto.desc_produto }}</td>
                                <td class="status excesso">{{ produto.estado_estoque }}</td>
                                <td class="status">{{ produto.data_entrada }}</td>
                                <td class="numero">{{ produto.estoque|floatformat:0 }}</td>
                                <td class="numero">{{ produto.saldo|floatformat:0 }}</td>
                                <td class="numero">{{ produto.qt_excesso|floatformat:0 }}</td>
                                <td class="numero">R$ {{ produto.vl_excesso|floatformat:2 }}</td>
                                <td class="curva">{{ produto.curva }}</td>
                                <td class="numero">{{ produto.dde|floatformat:0 }}</td>
                                <td class="numero">{{ produto.media|floatformat:1 }}</td>

                                {% if p_ativo == True %}
                                    <td class="numero">{{ produto.campo_tres }}</td>
                                {% endif %}

                                <td>
                                    <form>
                                        {% csrf_token %}
                                    </form>
                                    <input id="filial_excesso_fornec-{{ produto.id_produto|to_str }}" hidden
                                           value="{{ produto.cod_filial|to_str }}">

                                    <input id="produto_excesso_fornec-{{ produto.id_produto|to_str }}" hidden
                                           value="{{ produto.id_produto|to_str }}">

                                    <input class="input_alertas" type="text"
                                           id="qt_digit_excesso_fornec-{{ produto.id_produto|to_str }}"
                                           placeholder="Qtd">

                                    <input class="input_alertas" type="text"
                                           id="vl_digit_excesso_fornec-{{ produto.id_produto|to_str }}"
                                           placeholder="Preço" onKeyUp="mascaraMoeda(this, event)" value="">

                                    <button name="{{ produto.id_produto|to_str }}"
                                            onclick="GetNome_alerta(this.name)"
                                            class="add_item_alertas">
                                        Adicionar item
                                    </button>
                                    <!-- id="add_item_alertas_fornec" -->


                                    <button class="ver_graf_alertas" name="{{ produto.id_produto|to_str }}"
                                            onclick="GetNome_grafico_excesso(this.name)"
                                            type="button" data-toggle="modal"
                                            data-target=".modal_graf_excesso_fornec">
                                        Gráficos
                                    </button>


                                </td>

                            </tr>

                        {% endfor %}
                    {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>





    <!-- MODAL ITENS PEDIDOS  -->
    <div id="modal-ver-pedido-geral" class="modal fade modal_pedido_excesso_fornec" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" id="modal-ver-pedido_excesso_fornec">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-6">
                        <h5 class="modal-title">Ver pedido</h5>
                    </div>
                    <div class="col-6">
                        <input id="select_fornec_excesso_id" type="hidden" value="">
                        <input id="search-pedido-excesso-fornec" type="text" class="form-control"
                               name="pedido_fornecedor"
                               placeholder="Selecionar Fornecedor">

                        <div class="row">
                            <div class="col check-div-fornec">
                                <div class="form-check" id="result-pedido-excesso-fornec">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-body">

                    <table width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Cód. filial</th>
                            <th>Cód. prod</th>
                            <th>Descrição produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>

                        </tr>
                        </thead>

                        <tbody id="tbody_pedidos_excesso_fornec">

                        </tbody>

                    </table>

                </div>
                <div class="modal-footer">

                    <button id="btn-canc-modal-analise" type="button" class="btn btn-secondary btn-sm"
                            data-dismiss="modal">Voltar
                    </button>
                    <a href="{% url 'exportar-pedido-sessao' %}" id="btn-expo-modal-excesso_fornec" type="button"
                       class="btn btn-primary btn-sm">Exportar <i
                            class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL GRAFICO -->
    <div id="modal-ver-pedido-geral" class="modal fade modal_graf_excesso_fornec" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" id="modal-ver-graf_excesso_fornec">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="col-6">
                        <h5 class="modal-title">Gráficos</h5>
                    </div>
                </div>

                <div class="modal-body">

                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-body" id="grafico-serie-hist">

                                <div class="row">
                                    <!--
                                    <div class="col-4">
                                        <p id="titulo_vendasxmes">Vendas x Mês</p>
                                        <table>
                                            <tr id="th_tabela_totais">

                                            </tr>

                                            <tr id="td_tabela_totais">

                                            </tr>
                                        </table>
                                    </div>
                                    -->
                                    <div class="col-4">
                                        <p class="texto-grafico-analise">Série histórica de vendas</p>
                                    </div>
                                    <div class="col-4"></div>
                                </div>

                                <div id="div-graf-um">
                                    <div class="chart-bar" id="div-grafico-umFornecExcesso">
                                        <canvas id="ChartSerieHistFornecExcesso"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <style>
                        #div-graf-um {
                            overflow-x: auto;
                            white-space: nowrap;
                        }

                        #div-grafico-um {
                            width: 2000px;
                        }
                    </style>

                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-body">
                                <p class="texto-grafico-analise">Cobertura de estoque</p>
                                <div style="overflow-x: auto; white-space: nowrap;">
                                    <div class="chart-bar" style="width:2000px;" id="div-grafico-doisFornecExcesso">
                                        <canvas id="ChartCoberturaFornecExcesso"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    <button id="btn-canc-modal-analise" type="button" class="btn btn-secondary btn-sm"
                            data-dismiss="modal">Voltar
                    </button>

                </div>
            </div>
        </div>
    </div>














{% endblock %}
