{% extends 'aplicacao/base.html' %}

{% block conteudo %}
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <div class="row">
                <div class="col-12">
                    <h6 class="m-0 font-weight-bold">Alertas Previsão de Estoque</h6>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Cód. Filial</th>
                        <th>Cód. Produto</th>
                        <th>Desc. Produto</th>
                        <th>Saldo em Estoque</th>
                        <th>Previsão de Estoque</th>
                        <th>Previsão de Estoque</th>
                        <th>Curva</th>
                        <th>Cód. Fornecedor</th>
                        <th>Fornecedor</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

{% endblock %}