{% extends 'aplicacao/base.html' %}
{% load static %}

{% block scripts %}
<script src="{% static 'aplicacao/js/pesquisa_fornecedor.js' %}" defer></script>
<script src="{% static 'aplicacao/js/pesquisa_produto.js' %}" defer></script>
<script src="{% static 'aplicacao/js/filtrar_por_fornecedor.js' %}" defer></script>
<script src="{% static 'aplicacao/js/filtrar_por_produto.js' %}" defer></script>
<script src="{% static 'aplicacao/js/filtrar_por_curva.js' %}" defer></script>
<script src="{% static 'aplicacao/js/filtrar_por_marca.js' %}" defer></script>

<script src="{% static 'aplicacao/js/selecao_produto.js' %}" defer></script>
<script src="{% static 'aplicacao/js/demo/chart-serie-hist.js' %}" defer></script>
<script src="{% static 'aplicacao/js/pedido_sessao.js' %}" defer></script>
<script src="{% static 'aplicacao/js/pedidos_pendentes.js' %}" defer></script>
<script src="{% static 'aplicacao/js/mascara_preco.js' %}" defer></script>

<script>
    $(document).ready(function () {
        // show the alert
        setTimeout(function () {
            $(".alert").alert('close');
        }, 5000);
    });
</script>
{% endblock scripts %}

{% block conteudo %}

<div class="div-mensagem-sucesso" id="div-mensagem-sucesso">
    <!--
    <div class="alert alert-success d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill"/>
        </svg>
        <div>
            &nbsp; An example success alert with an icon
        </div>
    </div>
    -->
</div>
<div class="div-mensagem-erro" id="div-mensagem-erro">
    <!--
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div>
            &nbsp; An example danger alert with an icon
        </div>
    </div>
    -->
</div>

<div class="div-mensagem-alerta" id="div-mensagem-alerta">
    <!--
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <div>
            &nbsp; An example warning alert with an icon
        </div>
    </div>
    -->
</div>


<div class="row">
    <div class="col">
        <div class="form-group">
            <form id="search-f" autocomplete="off">

                <input id="search-fornec" type="text" class="form-control"
                       name="p_fornecedor"
                       placeholder="Pesquisar por Fornecedor">

                <div class="row">
                    <div class="col check-div-fornec">
                        <div class="form-check" id="results-box-fornec">

                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <form id="search-p" autocomplete="off">
                {% csrf_token %}
                <input id="search-prod" type="text" class="form-control" name="p_produto"
                       placeholder="Pesquisar por Produto">

                <div class="row">
                    <div class="col check-div-prod">
                        <div class="form-check" id="results-box-prod">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if p_ativo == True %}
    <div class="col">
        <div class="form-group">
            <form id="search-f" autocomplete="off">

                <input id="search-fornec" type="text" class="form-control"
                       name="p_principio_ativo"
                       placeholder="Pesquisar por Princípio Ativo">

                <div class="row">
                    <div class="col check-div-fornec">
                        <div class="form-check" id="results-box-fornec">

                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    {% endif %}
</div>
    <div class="row">

    <div class="col-xl-2 col-lg-2">
        <div class="card shadow mb-4 cards-home-info">
            <div class="card-body cards-home-body">
                <div class="row cards-home-titulo">
                    <div class="col-12">
                        Previsão Estoque
                    </div>
                </div>
                <div class="row cards-home-valores">
                    <div class="col-1 cards-home-sifrao">
                    </div>
                    <div class="col-11 cards-home-valor" id="valor_fat">
                        -
                    </div>
                    <!--
                    <div class="col-4" style="margin-top: auto; margin-bottom: auto">
                        Grafico
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2">
        <div class="card shadow mb-4 cards-home-info">
            <div class="card-body cards-home-body">
                <div class="row cards-home-titulo">
                    <div class="col-8">
                        Curva
                    </div>
                </div>
                <div class="row cards-home-valores">
                    <div class="col-1 cards-home-sifrao">

                    </div>
                    <div class="col-11 cards-home-valor" id="valor_curva">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-2 col-lg-2">
        <div class="card shadow mb-4 cards-home-info">
            <div class="card-body cards-home-body">
                <div class="row cards-home-titulo">
                    <div class="col-8">
                        Média
                    </div>
                </div>
                <div class="row cards-home-valores">
                    <div class="col-1 cards-home-sifrao">

                    </div>
                    <div class="col-11 cards-home-valor" id="valor_media_simples">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3">
        <div class="card shadow mb-4 cards-home-info">
            <div class="card-body cards-home-body">
                <div class="row cards-home-titulo">
                    <div class="col-7">
                        Media Ajustada
                    </div>
                    <div class="col-5 cards-home-porc" id="porc_media">
                        -
                    </div>
                </div>
                <div class="row cards-home-valores">
                    <div class="col-1 cards-home-sifrao">

                    </div>
                    <div class="col-11 cards-home-valor" id="valor_media">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-3">
        <div class="card shadow mb-4 cards-home-info">
            <div class="card-body cards-home-body">
                <div class="row cards-home-titulo">
                    <div class="col-8">
                        Ruptura
                    </div>
                    <div class="col-4 cards-home-porc" id="porc_ruptura">

                    </div>
                </div>
                <div class="row cards-home-valores">
                    <div class="col-1 cards-home-sifrao">

                    </div>
                    <div class="col-11 cards-home-valor" id="valor_ruptura">
                        -
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card shadow mb-4" id="div-analise-tabela">
            <div class="row">
                <div class="col-md-2 analise-div">
                    <div class="form-group">
                        <label class="label-analise-tabela">Leadtime</label>
                        <input type="text" class="form-control input-analise" id="leadtime" name="leadtime"
                               placeholder="Ex. 10">
                    </div>
                </div>
                <div class="col-md-2 analise-div">
                    <div class="form-group">
                        <label class="label-analise-tabela">P. Reposição</label>
                        <input type="text" class="form-control input-analise" id="tempo_reposicao"
                               name="tempo_reposicao" placeholder="Ex. 10">
                    </div>
                </div>
                <div class="col analise-div">
                    <div class="form-group">
                        <label class="label-analise-tabela">Produto</label>
                        <select class="form-control select-analise" name="produtos" id="results-produtos">
                            <!--<option class="option-analise" value="0" selected>Selecione o produto</option>-->
                        </select>
                    </div>
                </div>
                <!--
                <div class="col-md-1 analise-div">
                    <div class="form-group">
                        <label class="label-analise-tabela" for="semana">Semana</label>
                        <select class="form-control select-analise" name="semana" id="semana">
                            <option class="option-analise" value="volvo">Selecione</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 analise-div">
                    <div class="form-group">
                        <label class="label-analise-tabela" for="mensal">Mês</label>
                        <select class="form-control select-analise" name="mensal" id="mensal">
                            <option class="option-analise" value="volvo">Selecione</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="col-md-2 analise-div">
                    <div class="form-group">
                        <label class="label-analise-tabela">Curva</label>

                        <select class="form-control select-analise" id="curva_abc_select">
                            <!--
                            <option class="option-analise" selected value="0">Selecione</option>
                            <option class="option-analise" value="A">A</option>
                            <option class="option-analise" value="B">B</option>
                            <option class="option-analise" value="C">C</option>
                            <option class="option-analise" value="D">D</option>
                            <option class="option-analise" value="E">E</option>
                            -->
                        </select>

                    </div>
                </div>

                <div class="col-md-2 analise-div">
                    <div class="form-group">
                        <label class="label-analise-tabela" for="marca">Marca</label>
                        <select class="form-control select-analise" name="marca" id="filtro_marca">
                            <!--<option class="option-analise" value="0" selected>Selecione</option>-->
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-10" id="div-tabela">
                    <table id="tabela-analise">

                        <thead>
                        <tr>
                            <th class="tabela-info-th" colspan="4">Dados filiais</th>
                            <th class="tabela-info-th" colspan="3">Dados de entrada</th>
                            <th class="tabela-info-th" colspan="6">Dados estatísticos</th>
                            <th class="tabela-info-th" colspan="2">Preço prat.</th>
                            <!--                                <th class="tabela-info-th-d" colspan="4">Digitar pedido de compra</th>-->
                        </tr>
                        </thead>
                        <tbody id="body-tabela-analise">
                        <tr>
                            <th class="tabela-info">Cód. Filial</th>
                            <th class="tabela-info">Estoque</th>
                            <th class="tabela-info">Avaria</th>
                            <th class="tabela-info">Ped. pendente</th>
                            <th class="tabela-info">Dt. ult. Ent.</th>
                            <th class="tabela-info">Qt. ult. Ent.</th>
                            <th class="tabela-info">Vl. ult. Ent.</th>
                            <th class="tabela-info">DDE</th>
                            <th class="tabela-info">Est. seg.</th>
                            <th class="tabela-info">Ponto rep.</th>
                            <th class="tabela-info">Cx Fech.</th>
                            <th class="tabela-info">Und Caixa</th>
                            <th class="tabela-info">Sugestão Und</th>
                            <th class="tabela-info">Pr. tabela</th>
                            <th class="tabela-info">Margem</th>
                            <!--                                <th>Qt digitada</th>-->
                            <!--                                <th>Pr. compra</th>-->
                            <!--                                <th>% margem</th>-->
                            <!--                                <th>Pr. sugerido</th>-->
                            <!--                                <th>DDE</th>-->

                        </tr>
                        <tr id="tabela-info-analise">

                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-2" id="div-tabela-digite" style="padding-left: 0px; padding-right: 0px">
                    <table id="tabela-analise-digite">
                        <thead>
                        <tr>
                            <th class="tabela-info-th-d" colspan="5">Digitar pedido de compra</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Qt digitada</th>
                            <th>Pr. compra</th>
                            <!--
                            <th>% margem</th>

                            <th>Pr. sugerido</th>

                            <th>DDE</th>
                            -->
                        </tr>
                        <tr>
                            <td class="tabela-form">
                                <input class="input-tabela-analise" name="qt_digitada" id="qt_digit">
                            </td>
                            <td class="tabela-form">
                                <input type="Text" class="input-tabela-analise" name="pr_compra" id="pr_compra"
                                       onKeyUp="mascaraMoeda(this, event)" value="">
                            </td>
                            <!--
                            <td class="tabela-form">
                                <input class="input-tabela-analise" name="porc_margem" id="porc_margem">
                            </td>
                            <td class="tabela-form">
                                <input class="input-tabela-analise" name="pr_sugerido" id="pr_sugerido">
                            </td>
                            <td class="tabela-form">
                                <input class="input-tabela-analise" name="dde" id="dde">
                            </td>
                            -->
                        </tr>
                        </tbody>

                    </table>
                </div>

                <div class="col-md-3" style="margin-bottom: 15px">
                    <label class="label-analise-tabela">Filiais</label>
                    <select class="form-control select-analise" id="filtro-filial">
                        {% for filial in filiais %}
                            <option class="option-analise" value="{{ filial.cod_filial }}">{{ filial.cod_filial }} - {{ filial.desc_filial }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-9 botoes-analise-tabela">
                    <button id="ver_pedidos_pendentes" class="btn btn-secondary btn-sm ver-pendentes"
                            type="button"
                            data-toggle="modal" data-target=".modal-pendentes">Pedidos pendentes
                    </button>
                    <button id="ver_pedido_sessao" class="btn btn-secondary btn-sm ver-pedido" type="button"
                            data-toggle="modal" data-target=".modal-pedido">Ver pedido
                    </button>
                    <button id="add_pedido_sessao" class="btn btn-secondary btn-sm adicionar-item">Adicionar
                        item
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-body" id="grafico-serie-hist">
                <p class="texto-grafico-analise">Série histórica de vendas</p>
                <div style="overflow-x: auto; white-space: nowrap;">
                    <div class="chart-bar" style="width:2000px;" id="div-grafico-um">
                        <canvas id="ChartSerieHist"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <p class="texto-grafico-analise">Cobertura de estoque</p>
                <div style="overflow-x: auto; white-space: nowrap;">
                    <div class="chart-bar" style="width:2000px;" id="div-grafico-dois">
                        <canvas id="ChartCobertura"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODAL ITENS PEDIDOS  -->
<div id="modal-ver-pedido-geral" class="modal fade modal-pedido" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" id="modal-ver-pedido">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ver pedido</h5>
            </div>
            <div class="modal-body">

                <table width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Cód. filial</th>
                        <th>Cód. prod</th>
                        <th>Descrição produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>

                    </tr>
                    </thead>

                    <tbody id="tbody_pedidos_sessao">

                    </tbody>

                </table>

            </div>
            <div class="modal-footer">
                <button id="btn-canc-modal-analise" type="button" class="btn btn-secondary btn-sm"
                        data-dismiss="modal">Voltar
                </button>
                <a href="{% url 'exportar-pedido-sessao' %}" id="btn-expo-modal-analise" type="button"
                   class="btn btn-primary btn-sm">Exportar <i
                        class="fas fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- MODAL PEDIDOS PENDENTES -->
<div class="modal fade modal-pendentes" id="modal-pendentes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" id="modal-ver-pedido-p">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pedidos pendentes</h5>
            </div>
            <div class="modal-body">

                <table width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Cód. filial</th>
                        <th>Cód. prod</th>
                        <th>Descrição produto</th>
                        <th>Saldo</th>
                        <th>Data do pedido</th>
                        <th>Número do pedido</th>
                    </tr>
                    </thead>

                    <tbody id="pedidos-pendentes-modal">

                    </tbody>

                </table>

            </div>
            <div class="modal-footer">
                <button id="btn-canc-modal-analise-p" type="button" class="btn btn-secondary btn-sm"
                        data-dismiss="modal">Voltar
                </button>
                <!--                    <button id="btn-expo-modal-analise-p" type="button" class="btn btn-primary btn-sm">Exportar-->
                <!--                        <i-->
                <!--                                class="fas fa-chevron-right"></i>-->
                <!--                    </button>-->
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}