{% extends 'aplicacao/base.html' %}
{% load static %}

{% block scripts %}
    <script src="{% static 'aplicacao/js/pesquisa_fornecedor.js' %}" defer></script>
    <script src="{% static 'aplicacao/js/pesquisa_produto.js' %}" defer></script>
    <script src="{% static 'aplicacao/js/filtrar_por_fornecedor.js' %}" defer></script>
{% endblock scripts %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <form id="search-f" autocomplete="off">

                    <input id="search-fornec" type="text" class="form-control"
                           name="p_fornecedor"
                           placeholder="Pesquisar por fornecedor">

                    <div class="row">
                        <div class="col check-div-fornec">
                    <div class="form-check" id="results-box-fornec">

                    </div></div></div>

                </form>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <form id="search-p" autocomplete="off">
                    {% csrf_token %}
                    <input id="search-prod" type="text" class="form-control" name="p_produto"
                           placeholder="Pesquisar por produto">
                </form>
                <div id="results-box-prod" class="resultados d-none">

                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body cards-home-body">
                    <div class="row cards-home-titulo">
                        <div class="col-8">
                            Faturamento
                        </div>
                        <div class="col-4 cards-home-porc">
                            92%
                        </div>
                    </div>
                    <div class="row cards-home-valores">
                        <div class="col-2 cards-home-sifrao">
                            R$
                        </div>
                        <div class="col-10 cards-home-valor">
                            999.7M
                        </div>
                        <!--
                        <div class="col-4" style="margin-top: auto; margin-bottom: auto">
                            Grafico
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body cards-home-body">
                    <div class="row cards-home-titulo">
                        <div class="col-8">
                            Curva
                        </div>
                        <div class="col-4 cards-home-porc">
                            92%
                        </div>
                    </div>
                    <div class="row cards-home-valores">
                        <div class="col-2 cards-home-sifrao">

                        </div>
                        <div class="col-10 cards-home-valor">
                            C
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body cards-home-body">
                    <div class="row cards-home-titulo">
                        <div class="col-8">
                            Media Ajustada
                        </div>
                        <div class="col-4 cards-home-porc">
                            92%
                        </div>
                    </div>
                    <div class="row cards-home-valores">
                        <div class="col-2 cards-home-sifrao">

                        </div>
                        <div class="col-10 cards-home-valor">
                            239,45
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-3">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body cards-home-body">
                    <div class="row cards-home-titulo">
                        <div class="col-8">
                            Ruptura
                        </div>
                        <div class="col-4 cards-home-porc">
                            92%
                        </div>
                    </div>
                    <div class="row cards-home-valores">
                        <div class="col-2 cards-home-sifrao">
                            R$
                        </div>
                        <div class="col-10 cards-home-valor">
                            999.7K
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card shadow mb-4" id="div-analise-tabela">
                <div class="row">
                    <div class="col-md-1 analise-div">
                        <div class="form-group">
                            <label class="label-analise-tabela">Leadtime</label>
                            <input type="text" class="form-control input-analise" name="leadtime">
                        </div>
                    </div>
                    <div class="col-md-1 analise-div">
                        <div class="form-group">
                            <label class="label-analise-tabela">C. reposição</label>
                            <input type="text" class="form-control input-analise" name="leadtime">
                        </div>
                    </div>
                    <div class="col analise-div">
                        <div class="form-group">
                            <label class="label-analise-tabela" for="produtos">Produto</label>
                            <select class="form-control select-analise" name="produtos" id="results-produtos">
                                <option selected>Selecione o produto</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 analise-div">
                        <div class="form-group">
                            <label class="label-analise-tabela" for="semana">Semana</label>
                            <select class="form-control select-analise" name="semana" id="semana">
                                <option class="option-analise" value="volvo">item</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 analise-div">
                        <div class="form-group">
                            <label class="label-analise-tabela" for="mensal">Mês</label>
                            <select class="form-control select-analise" name="mensal" id="mensal">
                                <option class="option-analise" value="volvo">itemafdfsddfsdfsdfdsfsfdsf</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-1 analise-div">
                        <div class="form-group">
                            <label class="label-analise-tabela" for="curva">Curva</label>
                            <select class="form-control select-analise" name="curva" id="curva">
                                <option class="option-analise" value="curva_a">A</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 analise-div">
                        <div class="form-group">
                            <label class="label-analise-tabela" for="marca">Marca</label>
                            <select class="form-control select-analise" name="marca" id="marca">
                                <option class="option-analise" value="volvo">item</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="div-tabela">
                        <table id="tabela-analise">
                            <thead>
                            <tr>
                                <th class="tabela-info-th" colspan="5">Dados filiais</th>
                                <th class="tabela-info-th" colspan="4">Dados de entrada</th>
                                <th class="tabela-info-th" colspan="1">Calc. dias</th>
                                <th class="tabela-info-th" colspan="5">Dados estatísticos</th>
                                <th class="tabela-info-th" colspan="1">Preço prat.</th>
                                <th class="tabela-info-th-d" colspan="5">Digitar pedido de compra</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="tabela-info">Cód</th>
                                <th class="tabela-info">Filial</th>
                                <th class="tabela-info">Estoque</th>
                                <th class="tabela-info">Avaria</th>
                                <th class="tabela-info">Ped. pendente</th>
                                <th class="tabela-info">Dt. ult. Ent.</th>
                                <th class="tabela-info">Qt. ult. Ent.</th>
                                <th class="tabela-info">Vl. ult. Ent.</th>
                                <th class="tabela-info">DDE normal</th>
                                <th class="tabela-info">Est. seg.</th>
                                <th class="tabela-info">Ponto rep.</th>
                                <th class="tabela-info">Cx Fech.</th>
                                <th class="tabela-info">Caixa</th>
                                <th class="tabela-info">Unid.</th>
                                <th class="tabela-info">Pr. tabela</th>
                                <th class="tabela-info">% margem</th>

                                <th>Qt digitada</th>
                                <th>Pr. compra</th>
                                <th>% margem</th>
                                <th>Pr. sugerido</th>
                                <th>DDE</th>

                            </tr>
                            <tr>
                                <td class="tabela-info">1234</td>
                                <td class="tabela-info">Matriz</td>
                                <td class="tabela-info">32000</td>
                                <td class="tabela-info">9999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>
                                <td class="tabela-info">999</td>


                                <td class="tabela-form">
                                    <input class="input-tabela-analise" name="">
                                </td>
                                <td class="tabela-form">
                                    <input class="input-tabela-analise" name="">
                                </td>
                                <td class="tabela-form">
                                    <input class="input-tabela-analise" name="">
                                </td>
                                <td class="tabela-form">
                                    <input class="input-tabela-analise" name="">
                                </td>
                                <td class="tabela-form">
                                    <input class="input-tabela-analise" name="">
                                </td>

                            </tr>
                            </tbody>

                        </table>
                        <div class="col-md-12 botoes-analise-tabela">
                            <button class="btn btn-secondary btn-sm ver-pendentes" type="button"
                                    data-toggle="modal" data-target=".modal-pendentes">Pedidos pendentes
                            </button>
                            <button class="btn btn-secondary btn-sm ver-pedido" type="button"
                                    data-toggle="modal" data-target=".modal-pedido">Ver pedido
                            </button>
                            <button class="btn btn-secondary btn-sm adicionar-item">Adicionar item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body" id="grafico-serie-hist">
                    <p class="texto-grafico-analise">Série histórica de vendas</p>
                    <div class="chart-bar">
                        <canvas id="ChartSerieHist"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <p class="texto-grafico-analise">Cobertura de estoque</p>
                    <div class="chart-bar" id="div-grafico-um">
                        <canvas id="ChartCobertura"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MODAL ITENS PEDIDOS  -->
    <div class="modal fade modal-pedido" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" id="modal-ver-pedido">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ver pedido</h5>
                </div>
                <div class="modal-body">

                    <table width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Cód. filial</th>
                            <th>Filial</th>
                            <th>Cód. prod</th>
                            <th>Descrição produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Data do pedido</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>nome</td>
                            <td>cnpj</td>
                            <td>Ativa</td>
                            <td>Inativa</td>
                            <td>Inativa</td>
                            <td>Inativa</td>
                            <td>Inativa</td>
                        </tr>
                        </tbody>

                    </table>

                </div>
                <div class="modal-footer">
                    <button id="btn-canc-modal-analise" type="button" class="btn btn-secondary btn-sm"
                            data-dismiss="modal">Voltar
                    </button>
                    <button id="btn-expo-modal-analise" type="button" class="btn btn-primary btn-sm">Exportar <i
                            class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PEDIDOS PENDENTES -->
    <div class="modal fade modal-pendentes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" id="modal-ver-pedido">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pedidos pendentes</h5>
                </div>
                <div class="modal-body">

                    <table width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Cód. filial</th>
                            <th>Filial</th>
                            <th>Cód. prod</th>
                            <th>Descrição produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Data do pedido</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>nome</td>
                            <td>cnpj</td>
                            <td>Ativa</td>
                            <td>Inativa</td>
                            <td>Inativa</td>
                            <td>Inativa</td>
                            <td>Inativa</td>
                        </tr>
                        </tbody>

                    </table>

                </div>
                <div class="modal-footer">
                    <button id="btn-canc-modal-analise" type="button" class="btn btn-secondary btn-sm"
                            data-dismiss="modal">Voltar
                    </button>
                    <button id="btn-expo-modal-analise" type="button" class="btn btn-primary btn-sm">Exportar <i
                            class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock conteudo %}