{% extends 'aplicacao/base.html' %}

{% block conteudo %}
    <style>
        div.card_curvas {
            margin-left: auto;
            margin-right: auto;
            width: 10%;
        }
        h6.curvas_text {
            font-size: 14px;
        }

        th.tabela-home-head {
            border-bottom: solid 1px black;
            border-right: solid 1px black;
            text-align: center;
        }
        td.tabela-home-body {
            border-right: solid 1px black;
            text-align: center;
        }
        th.tabela-home-foot {
            border-right: solid 1px black;
            text-align: center;
        }
        th.tabela-home-last, td.tabela-home-last {
            text-align: center;
        }
        #excesso-table-home{
            border-bottom: solid 1px black;
        }
    </style>

    <!-- CARDS -->
    <div class="row">
        <div class="card_curvas col">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <h5>Curva A</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="margin-right: auto; margin-left: auto">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 23px; padding-top: 20px">

                        <div class="col-5">
                            <h6 class="curvas_text">Normal:</h6>
                            <h6 class="curvas_text">Parcial:</h6>
                            <h6 class="curvas_text">Excesso:</h6>
                            <h6 class="curvas_text">Total Est.:</h6>
                        </div>

                        <div class="col-7 text-right">
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_curvas col">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <h5>Curva B</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="margin-right: auto; margin-left: auto">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 23px; padding-top: 20px">

                        <div class="col-5">
                            <h6 class="curvas_text">Normal:</h6>
                            <h6 class="curvas_text">Parcial:</h6>
                            <h6 class="curvas_text">Excesso:</h6>
                            <h6 class="curvas_text">Total Est.:</h6>
                        </div>

                        <div class="col-7 text-right">
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_curvas col">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <h5>Curva C</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="margin-right: auto; margin-left: auto">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 23px; padding-top: 20px">

                        <div class="col-5">
                            <h6 class="curvas_text">Normal:</h6>
                            <h6 class="curvas_text">Parcial:</h6>
                            <h6 class="curvas_text">Excesso:</h6>
                            <h6 class="curvas_text">Total Est.:</h6>
                        </div>

                        <div class="col-7 text-right">
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_curvas col">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <h5>Curva D</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="margin-right: auto; margin-left: auto">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 23px; padding-top: 20px">

                        <div class="col-5">
                            <h6 class="curvas_text">Normal:</h6>
                            <h6 class="curvas_text">Parcial:</h6>
                            <h6 class="curvas_text">Excesso:</h6>
                            <h6 class="curvas_text">Total Est.:</h6>
                        </div>

                        <div class="col-7 text-right">
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card_curvas col">
            <div class="card shadow mb-4 cards-home-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12" style="text-align: center">
                            <h5>Curva E</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="margin-right: auto; margin-left: auto">
                            <div class="chart-pie pt-4">
                                <canvas id="myPieChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 23px; padding-top: 20px">

                        <div class="col-5">
                            <h6 class="curvas_text">Normal:</h6>
                            <h6 class="curvas_text">Parcial:</h6>
                            <h6 class="curvas_text">Excesso:</h6>
                            <h6 class="curvas_text">Total Est.:</h6>
                        </div>

                        <div class="col-7 text-right">
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                            <h6 class="curvas_text">R$ 1.000,00</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!-- GRAFICO -->
    <div class="row">

        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h6>Dados Estoque</h6>

                    <table width="100%">
                        <thead>
                            <tr>
                                <th class="tabela-home-head">Curva</th>
                                <th class="tabela-home-head">SKU's</th>
                                <th class="tabela-home-head">Normal</th>
                                <th class="tabela-home-head">Ruptura Parc.</th>
                                <th class="tabela-home-head">Ruptura</th>
                                <th class="tabela-home-last" id="excesso-table-home">Excesso</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="tabela-home-body">A</td>
                                <td class="tabela-home-body">956</td>
                                <td class="tabela-home-body">3</td>
                                <td class="tabela-home-body">59</td>
                                <td class="tabela-home-body">98</td>
                                <td class="tabela-home-last">98</td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <th class="tabela-home-foot">Total</th>
                                <th class="tabela-home-foot">250</th>
                                <th class="tabela-home-foot">32</th>
                                <th class="tabela-home-foot">10</th>
                                <th class="tabela-home-foot">20</th>
                                <th class="tabela-home-last">1000051</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <p>Ruptura x Curva</p>
                    <div class="chart-bar">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock conteudo %}