<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAGINA DE TESTE</title>
</head>
<body>
<h1>
    PÁGINA DE TESTES
</h1>

<h1>CURVA ABC</h1>
{% for abc in curva %}
<h5>cod produto: {{ abc.cod_produto }}</h5>
{% endfor %}

<h1>ESTOQUE ATUAL</h1>
{% for est in estoque %}
<h5>cod produto: {{ est.cod_produto }}</h5>
{% endfor %}

<h1>VENDAS</h1>
{% for vend in vendas %}
<h5>média: {{ vend.media }}</h5>
{% endfor %}

<h1>ENTRADAS</h1>
{% for ent in entradas %}
<h5>cod produto: {{ ent.cod_produto }}</h5>
{% endfor %}

<h1>PEDIDOS</h1>
{% for ped in pedidos %}
<h5>cod produto: {{ ped.cod_produto }}</h5>
{% endfor %}

<h1>HISTORICO</h1>
{% for hist in historico %}
<h5>cod produto: {{ hist.cod_produto }}</h5>
{% endfor %}


</body>
</html>